/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

ul{
    list-style: none;
}

/* COMMON */
body{
    background-color: black;
    font-size: 0.7rem;
}

:root{
    --footer-height: 80px;
}

.c-w{
    color: white;
}

.c-g{
    color: rgb(75 200 0);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN */
main{
    height: calc(100vh - var(--footer-height));
    padding: 60px 0 20px;
    position: relative;
    overflow-y: scroll;

}

main > ul{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    gap: 10px;
}

main > ul > li{
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}

.container{
    width: 90vw;
    margin: auto;
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
}

.user{
    width: calc(100%/7 - 5px);
    margin: 0 5px 10px 0;
    position: relative;
}

.micr-name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color:rgba(128, 128, 128, 0.8);
}

/* FOOTER */
footer{
    background-color: rgb(34 34 34);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.video-settings, .end-meeting{
    width: 15%;
    height: var(--footer-height);
}

.nav-bar{
    flex-grow: 1;
    height: var(--footer-height);
}

.video-settings > ul, .nav-bar > ul{
    display: flex;
    gap: 12px;
}

.end-meeting{
    background-color: rgb(74 74 74);
    color: red;
}

.icon{
    text-align: center;
    font-size: 1.3rem;
}

.chevron{
    font-size: .4rem;
    display: flex;
    align-items: center;
}